{% extends "base.html" %}

{% block content %}
<div class="content">
    <div class="recipe_full">
        <h1>{{ recipe.title }}</h1>
        {% if recipe.image %}
        <img class="recipe-image" src="{{ recipe.image.url }}" alt="{{ recipe.title }}">
        {% else %}
        <p>Изображение отсутствует</p>
        {% endif %}
        <p>{{ recipe.description }}</p>
        <strong>Шаги приготовления:</strong>
        <p>{{ recipe.steps }}</p>
        <strong>Время приготовления:</strong>
        <p>{{ recipe.preparation_time }} минут</p>
        <strong>Автор:</strong>
        <p>{{ recipe.author.username }}</p>
        <strong>Категории:</strong>
        <p>{% for category in recipe.categories.all %}{{ category.name }}{% if not forloop.last %}, {% endif %}{% endfor
            %}</p>
    </div>
    {% if user.is_authenticated and user == recipe.author %}
    <a href="{% url 'recipe_update' recipe.id %}" class="button">Редактировать</a>
    <a href="{% url 'recipe_delete' recipe.id %}" class="button">Удалить</a>
    {% endif %}
</div>

{% endblock %}
